 <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			 <nav>
                <ul class="nav masthead-nav nav-about">
                  <li><%= link_to 'PhilBrasil', '/' %></li>
                  <li><%= link_to 'Atualizações', 'atualizacoes' %></li>
                  <li><%= link_to 'Blog', 'blog' %></li>
                  <li class="active"><%= link_to 'Colabore', 'colabore' %></li>
                  <li><%= link_to 'Sobre', 'sobre' %></li>                    
                </ul>
              </nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"> 
				<font class="font-logo" style="font-size:60px">PhilBrasil</font>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2"> </div>
			<div class="col-md-8 text-about"> 
				<div>
				O <font class="font-logo">PhilBrasil</font> está continuamente sendo aprimorado. Isso quer dizer que erros podem ser encontrados e que sua ajuda para corrigi-los é muito importante. Se você tem conhecimento em alguma área específica da filosofia, habilidades mínimas em informática e disposição para ajudar, também convidamos você a entrar em contato e tornar-se um editor de seção. Entre em contato com um dos membros da <a href=""> equipe</a> para obter mais informações. Você também pode <a href=""> acrescentar referências</a> na base de dados do <font class="font-logo">PhilBrasil</font>, o que contribui para que nosso acervo fique mais completo. Uma terceira alternativa é contribuir com textos de apresentação para as categorias do site.
				</div>
				<div class="text-about">
				Por fim, você pode ajudar a divulgar, por exemplo, seguindo <a href="http://www.facebook.com/portal.philbrasil">nossa página no Facebook</a> ou, se tiver um site ou blogue, colocando um link para o <font class="font-logo">PhilBrasil</font>.
				</div>
				<div class=text-about>
				Os seguintes endereços incluem links para o <font class="font-logo">PhilBrasil</font> e ajudam a aumentar os nossos acessos: 
				<ul class="no-mark-list">
					<li> Departamento de Filosofia da <a href="http://fil.cfh.ufsc.br/">UFSC</a> </li>
					<li>Departamento de Filosofia da <a href="http://w3.ufsm.br/filosofia/">UFSM</a></li>
					 <li>Blogues:
					 	<ul class="no-mark-list">
					 		<li>
								<a href="http://investigacao-filosofica.blogspot.com.br/">Investigação Filosófica</a>
							</li>
					 		<li>
					 			<a href="http://filoescola.blogspot.com.br/">Filosofia na Escola</a></li> 
					 		<li>
					 			<a href="http://pibidfilosofiauem.wordpress.com/">Pibid/Filosofia UEM</a></li>
					 		<li>
					 			<a href="http://posfilosofia-ufu.blogspot.com.br/">Pós-Graduação em Filosofia da UFU</a> 
					 		</li>
					 		<li>
					 			<a href="http://gruponietzscheufmg.blogspot.com.br/">Grupo Nietzsche UFMG</a>
					 		</li>
					 		</ul>
					 </li>
				<li>
				No exterior:
				<ul class="no-mark-list">
					<li>
						<a href="http://philpapers.org/help/about.html">PhilPapers</a>
					</li>
					<li>
						<a href="http://www.zetesis.fr/spip.php?article865">Zetesis</a>
					</li>
					<li>
						<a href="http://philognose.hypotheses.org/229">Philognose</a>
					</li>
				</ul>
				</li>
				</ul>
					  <!-- Obrigado a todos! -->
				</div>
			</div>
			<div class="col-md-2"> </div>
		</div>

		<div class="row">
			<div class="nav-about"></div>
		</div>
	</div>