 <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			 <nav>
                <ul class="nav masthead-nav nav-about">
                  <li><%= link_to 'PhilBrasil', '/' %></li>
                  <li><%= link_to 'Atualizações', 'atualizacoes' %></li>
                  <li><%= link_to 'Blog', 'blog' %></li>
                  <li><%= link_to 'Colabore', 'colabore' %></li>
                  <li class="active"><%= link_to 'Sobre', 'sobre' %></li>                    
                </ul>
              </nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"> 
				<font class="font-logo" style="font-size:60px">PhilBrasil</font>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"> </div>
			<div class="col-md-8">
				<div class="text-about">
					O <font class="font-logo">PhilBrasil</font> é um portal sem fins lucrativos inspirado no portal internacional <a href="http://philpapers.org/" class="link=about">Philpapers</a>. O projeto começou em 2012, com a criação de um banco de dados destinado à indexação de textos de filosofia traduzidos para o português. Ao fim de 2012, o experimento foi movido para o endereço atual e passou a englobar não apenas traduções, mas também trabalhos originais publicados em revistas brasileiras, trabalhos escritos por filósofos brasileiros ou atuando no Brasil e trabalhos em português em geral.
				</div>
			<div class="col-md-2"> </div>
			</div>
		</div>
		<div class="row separator-div"></div>
		<div class="row">
			<div class="col-md-12"> 
				<font class="header-about">Colaboradores</font>
			</div>
		</div>

		<div class="row separator-div text-centered">
			<div class="col-md-4" > 
				<div class="header-nome">Marcelo Fishborn</div>
				<div class="text-about-partner">
				É doutorando em Filosofia na Universidade Federal de Santa Maria (UFSM), e foi pesquisador visitante no departamento de filosofia da Universidade Estadual da Flórida entre setembro de 2015 e maio de 2016. Sua pesquisa atual foca-se em questões sobre livre-arbítrio, responsabilidade, punição e criminalidade. Tem mestrado em Filosofia também pela UFSM, para o qual escreveu uma dissertação sobre o monismo anômalo de Donald Davidson. *
				</div>
			</div>
			<div class="col-md-4"> 
				<div class="header-nome">Gilson Olegario</div>
				<div class="text-about-partner">
				 Possui graduação em Filosofia Licenciatura Plena pela Universidade Federal de Santa Maria (2011) e mestrado em Filosofia pelo Programa de Pós-Graduação em Filosofia da mesma universidade (PPGF-UFSM) (2013). Atualmente é doutorando pelo Programa de Pós-Graduação em Filosofia da Universidade Estadual de Campinas - UNICAMP. *
				</div>
			</div>
			<div class="col-md-4"> 
				<div class="header-nome">Carlos Gregoreki</div>
				<div class="text-about-partner">
				Possui o título de Bacharel em Engenharia de Computação com ênfase em Sistemas Computacionais pela Universidade Estadual de Campinas - UNICAMP.
				</div>
			</div>
		</div>
		<div class="row separator-div ">
			<div class="col-md-6"> 
				<div class="header-nome">César Schirmer dos Santos</div>
				<div class="text-about-partner">
				É Professor Adjunto na Universidade Federal de Santa Maria. Possui graduação em Filosofia (1993), mestrado em Filosofia (2003) e doutorado em Filosofia (2010) pela Universidade Federal do Rio Grande do Sul. Tem experiência na área de Filosofia, com ênfase em Epistemologia, Metafísica, Filosofia da Mente e História da Filosofia Moderna, atuando principalmente nos seguintes temas: teoria anti-individualista da mente e da intencionalidade, epistemologia da memória e metafísica do tempo. *
				</div>
			</div>
			<div class="col-md-6">
				<div class="header-nome">Rogério Passos Severo</div>
				<div class="text-about-partner">
				É professor adjunto no Departamento de Filosofia da Universidade Federal do Rio Grande do Sul. PhD em filosofia pela University of Illinois at Chicago. Atua nas áreas de filosofia da ciência, filosofia da linguagem, metafísica, epistemologia e fillosofia da religião, em especial Quine, subdeterminação de teorias, indeterminação da tradução, teorias do espaço, história da filosofia analítica, Kant e indexicais. *
				</div>
			</div>
		</div>

		<div class="row separator-div">
			<div class="col-md-6"> 
				<div class="header-nome" style="font-weight:bold; color:#6d8891;"> Verbetes </div>
				<div class="text-about-partner">
				<ul class="no-mark-list">
				    <li>“Donald Davidson”, por <a href="#">Marcelo Fischborn</a></li>
				    <li>“Paul Ricœur”, por <a href="#">Vinicius Sanfelice</a></li>
				    <li>“Søren Kierkegaard”, por <a href="#">Juliano Barcelos Alves</a></li>
				</ul>
				</div>
			</div>

			<div class="col-md-6"> 
				<div class="header-nome" style="font-weight:bold; color:#6d8891;"> Categorização </div>
				<div class="text-about-partner">
					<ul class="no-mark-list">					
						<li>“Filosofia da religião”, “Resenhas e livros” e “Ludwig Wittgenstein”, por <a href="#">Alison Mandeli</a></li>
					<li>“Ação e livre-arbítrio”, “Causação mental” e “Monismo anômalo”, por <a href="#">Marcelo Fischborn</a></li>
					<li>“Filosofia da Linguagem”, “Filosofia da lógica”, “Metafísica” e “Propriedades”, por <a href="#">Renato Mendes Rocha</a></li>

						<li></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row text-asterisco">
			(*) Informações retiradas de <a href="http://lattes.cnpq.br/">lattes.cnpq.br </a>
		</div>

		<div class="row">
			<div class="nav-about"></div>
		</div>
	</div>